table,th,td{
    border: 2px black;
    border-collapse: collapse;
    border-style: solid;
}
body,ol,li{
    font-family: Verdana;
    background-color:beige;
}

h1 {
    text-align: center;
}
.forum{
    padding-block-end: 10px;
    padding-block-start: 10px;
}
input[type="radio"] + label {
    margin-right: 10pc; 
}
