* {
    margin: 0;
    padding: 0;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}

body {
    color: white;
    background-color: black;
}

.main {
    background-image: linear-gradient(to top, rgb(0, 0, 0) 0, rgba(0, 0, 0, 36%) 60%, rgb(0, 0, 0) 100%), URL(images/background.webp);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 644px;
    position: relative;

}

.box {
    height: 644px;
    width: 100%;
    position: absolute;
    top: 0;
}

.main img {
    width: 150px;
    color: red;
    position: relative;
    z-index: 10;
}

.logo {
    display: flex;
    gap: 23px;
    position: relative;
    z-index: 10;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 80vw;
    height: 100px;
}

.translate {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #5f5e5e;
    line-height: 1.25rem;
    width: 6.845rem;
    height: 2.43rem;
}

.material-icons {
    color: white;
    font-size: 16px !important;
    position: absolute;
    top: 11px;
    right: 201px;
}

.fa {
    color: white;
    font-size: 12px;
    position: relative;
    top: -1px;
    right: 13px;

}

select {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    font-size: 1rem;
    padding: 0.375rem 1.5rem 0.375rem 2.25rem;
    line-height: 1.55rem;
}

option {
    color: black;
}

button {
    color: white;
    background-color: red;
    line-height: 0.56rem;
    padding: 16px 4px;
    width: 6rem;
    border-radius: 0.55rem;
    font-size: 0.875rem;
    font-weight: 500;
}

.red-btn {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 22px;
    border-radius: 4px;
    font-weight: 600;
}

.signin {
    text-align: center;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    gap: 23px;
    padding: 0 30px;

}

.signin h1 {
    font-weight: bolder;
    font-size: 48px;
    font-weight: 700;
}

.signin p {
    font-weight: 400;
    font-size: 24px;
}

.signin h3,
.faq h3 {
    font-weight: 400;
    font-size: 20px;
}

.email {
    display: flex;
    gap: 10px;
    position: relative;
    z-index: 10;
}

input[type="email"] {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 1rem;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
    line-height: 2.5;
    width: 20rem;
}

.sep {
    height: 7px;
    border-bottom: 2px solid gray;
    position: relative;
    z-index: 20;
    width: 100%;
}

.tv {
    height: calc(100%-100px);
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 70vw;
    margin: auto;
}

.tv>div {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 34px 0;
    background-color: black;
}

.tv h2 {
    font-size: 48px;
    font-weight: bolder;
}

.tv p {
    font-size: 28px;
}

.animated-card {
    position: relative;
    display: flex;
}

.animated-card img {
    position: relative;
    width: 455px;
    z-index: 10;
}

video {
    position: absolute;
    width: 399px;
    top: 52px;
    left: 55px;
}

.devices video {
    position: absolute;
    width: 296px;
    top: 51px;
    left: 75px
}

.images {
    display: flex;
    width: 455px;
    background-color: white;
    position: relative;
}

.stranger-things {
    display: flex;
    background-color: black;
    height: 3.5rem;
    width: 50%;
    position: absolute;
    bottom: 32px;
    left: 105px;
    z-index: 10;
    overflow: hidden;
    border: 2px solid rgba(128, 128, 128, 0.7);
    box-shadow: 0 0 2em 0 rgb(0 0 0);
    border-radius: 0.55rem;
    padding: 0.25rem 0.65rem;
}

.stranger-things img {
    width: 3rem;
    height: 4rem;
    object-fit: contain;
    text-align: left;
    margin-right: 10px;
}

.stranger-things .para {
    width: 8rem;
    display: flex;
    color: white;
    font-size: 0.8rem;
    flex-direction: column;
    justify-content: center;
}

.gif {
    background: url(images/download-icon.gif) no-repeat center center;
    width: 3rem;
    height: 4rem;
    background-size: 100%;
}

.faq {
    text-align: center;
    margin: 0 0 0.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    padding: 34px;
    gap: 15px;
}

.faq h2 {
    font-size: 48px;
}

.faq-box {
    display: flex;
    margin: 0 0 0.5rem 0;
    border: 2px solid #2d2d2d;
    background-color: #2d2d2d;
    width: 60rem;
    color: white;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease out;
    font-size: 24px;
}

.fa-plus {
    font-size: 30px;
    font-weight: 100 !important;
}

.faq-box:hover {
    background-color: #414141;
}

footer {
    color: white;
    max-width: 60vw;
    margin: auto;
    padding: 60px;
}

.foot {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer a {
    color: white;
}

.grid {
    display: flex;
    flex-direction: column;
    padding: 32px 0;
    gap: 20px;
}

@media screen and (max-width: 465px) {
    input[type="email"] {
        width: 12rem;
    }

    .main {
        padding-bottom: 40px;
    }

    .main img {
        padding-right: 53px;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    button {
        width: 4.5rem;
        padding: 10px 5px;
        font-size: 0.775rem;
    }

    .material-icons {
        top: 7px;
        right: 116px;
    }

    select {
        padding: 1.275rem 0 0.5rem 0.25rem;
        line-height: 0;
    }

    .translate {
        padding: 1px 2px 2px 5px;
        width: 2.845rem;
        height: 1.45rem;
    }
}

@media screen and (max-width: 1300px) {
    * {
        text-align: center;
    }

    nav {
        max-width: 90vw;
    }

    .main img {
        width: 100px;
    }

    .red-btn {
        font-size: 20px;
        padding: 8px 20px;
    }

    .tv,
    .email {
        flex-wrap: wrap;
        justify-content: center;
    }

    .animated-card img {
        width: 305px;
    }

    .tv h2,
    h1 {
        font-size: 32px;
    }

    .tv p {
        font-size: 18px;
    }

    .faq-box {
        max-width: 60vw;
        font-size: 18px;
    }

    .stranger-things {
        bottom: 50px;
        left: 80px;
        height: 2.5rem;
        width: 40%;
    }

    .stranger-things img {
        height: 2.8rem;
        width: 2.8rem;
    }

    .gif {
        height: 3rem;
    }

    .stranger-things .para {
        font-size: 0.6rem;
        white-space: nowrap;
    }

    video {
        width: 218px;
        top: 81px;
        left: 43px;
    }

    .devices video {
        width: 203px;
        top: 55px;
        left: 50px;
    }

    .faq h2 {
        text-align: center;
        font-size: 32px;
    }

    footer {
        max-width: 80vw;
        padding: 75px 0;
    }

    .foot {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 5px;
    }

    footer a {
        font-size: 14px;
        color: white;
    }


}