table,th,td{
    border: 2px black;
    border-collapse: collapse;
    border-style: solid;
}
*{
    margin:0;
    font-family: Verdana;
    background-color:beige;
}

h1,.head1 {
    text-align: center;
    border-bottom:1px solid black;
    padding:20px;
}
.forum{
    padding-block-end: 10px;
    padding-block-start: 10px;
    margin:10px;
}
input[type="radio"] + label {
    margin-right: 200px; 
}
